{% extends "base.html" %}
{% block title %}Mua bán xe cũ{% endblock  %}
{% block content %}


<section id="hero" class="py-5 text-center text-white" style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://images.unsplash.com/photo-1558981806-ec527fa84c39?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80') no-repeat center center / cover;">
    <div class="container">
        <h1 class="display-4 fw-bold mb-3">Tìm kiếm một chiếc xe cũ chất lượng?</h1>
        <p class="lead mb-4">Thỏa sức lựa chọn những chiếc xe máy cũ chất lượng hoặc giao dịch xe cũ một cách thuận tiện</p>
        <a href="xeban/" class="btn btn-primary btn-lg">Bắt đầu</a>
    </div>
</section>

{% endblock  %}